@model IEnumerable<Zavrsna_apl1.Models.Rental>

@{
    ViewBag.Title = "Index";
}

<h2>Rental</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr class="table-primary">
        <th scope="row">
            @Html.DisplayNameFor(model => model.RentDate)
        </th>
        <th scope="row">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th scope="row">
            @Html.DisplayNameFor(model => model.Car.Manufacturer)
        </th>
        <th scope="row">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="table-primary">
        <td>
            @Html.DisplayFor(modelItem => item.RentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentalId })
        </td>
    </tr>
}

</table>
